<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'proper/popper.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/responsive.css' %}"></script>

    <script src="{% static 'font-awesome/font-awesome.min.css' %}"></script>
    <link type="icon" href="{% static '../../../static/products/cssfiles/images/favicon.ico' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>{% block title %}RCS{% endblock %}</title>
</head>
<body>
<div>

</div>
{% block content %}

{% endblock %}
</body>
</html>